<div class="center hero-unit well">
  <h1><%= t "home.welcome" %> ShopInstant</h1>

  <h2>
    <%= t "home.description" %>
  </h2>

  <%= link_to t("generic.signup"), new_user_path, class: "btn btn-success" if not current_user %>
</div>

<%#= render "layouts/bootstrap_elements" %> 
