<div class="center hero-unit well">
  <h1>Welcome to ShopInstant</h1>

  <h2>
    The shop where you can find more things than in Amazon!
  </h2>

  <%= link_to "Sign up now", new_user_path, class: "btn btn-success" if not current_user %>
</div>
