@import "bootstrap";

/*
  Variables
--------------------------------------------- */
$body-color               :   #424244;
$fontSize                 :   1.4em;
$lineHeight               :   1.5em;
$baseFontFamily           :   "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: $body-color;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GENERAL STYLES
-----------------------------------------------------------------------------
*/   
html, body {
  height: 100%;
  text-rendering: 'optimizeLegibility';
}
body {
  font-family: $baseFontFamily;
  background: #fff; 
  padding-top: 3em;
} 
img {
	max-width: 100%;
}
p {
  text-align: justify;
}
a {
  text-decoration: none;
  color: #6cc;
}
::selection {
  background: #DD0202;
  color: #FFF;
}  
h1 {
	color: #2A8DA9;
}  

/* layout */
footer {
	margin: 2em 0;
	a {
		color: #498B93;
	}
} 

/* tables */
table { 
	border-radius: 4px;   
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left; 
	thead tr th {
		background-color: #e6EEEE;
		font-size: 8pt;
		padding: 4px;
	}              
	thead tr .header {
		background-repeat: no-repeat;
		background-position: center right;
	}  	
	tbody tr {
		border-bottom: 1px #eee solid;
	}
	tbody td {
		color: #3D3D3D;
		padding: 4px;
		background-color: #FFF;
		vertical-align: top;
	} 
	td {
		background-color:#F0F0F6;     
	}
} 

/* forms */
fieldset {
	border: 0; 
	margin: 3em 2em 1em; 
	+fieldset {	 
		margin-top: 0; 
	}	
} 
label {
	
}
input, select, textarea, button {
  background-color: #ffffff;
  font-size:  $fontSize*0.9;
  line-height:  $lineHeight*0.9;
  padding: 0 0.2em;
  border: 1px solid #cccccc;
  border-radius: 4px;
}  
input[type="submit"] {
	color: white;
	background-color: #5bc0de;
	border-color: #46b8da;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;  
} 
.btn {
	color: white !important;
}
.btn-small {
	font-size: 0.9em; 
}  
.well {
	fieldset {
		margin-top: 1em;
	}
  label {
	  display: block;
  }	
}
.well.filter {
  label {
	  display: inline;
  }	 
 .form-group 	{
	  display: inline-block; 
	  padding-right: 1em;
  }
} 

/* errors */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* alerts */
.alert {
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}         

.alert, .alert-notice {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
}
.alert, .alert-notice hr {
  border-top-color: #258cd1;
}
.alert, .alert-notice .alert-link {
  color: #e6e6e6;
}  

.alert-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #15a589;
}
.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-warning {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #e08e0b;
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-alert {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
.alert-alert hr {
  border-top-color: #e43725;
}
.alert-alert .alert-link {
  color: #e6e6e6;
}

/* elements */
.line-items {
	border: 1px #ccc dotted;
	border-radius: 4px; 
	text-align: center;
	width: 50%;
	padding: 1em;  
	margin: 2em 0; 
	input[type="number"]  { 
		width: 3em;
	} 
}

/* util */ 
.center {
	text-align: center;
}        