<footer>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li>
          <%= link_to_if(params[:locale] != "en", "[EN]", {locale: :en}) %> |  
          <%= link_to_if(params[:locale] != "es", "[ES]", {locale: :es}) %>
        </li>     
        <li class="pull-right"><%= link_to "<span class='glyphicon glyphicon-share'></span> https://github.com/murtra/shop".html_safe, "https://github.com/murtra/shop"%></li>
      </ul>
    </div>
  </div>
</footer>
